@model ICollection<UserViewModel>

@{
    ViewData["Title"] = "OnlineUsers";
}


<link rel="stylesheet" type="text/css" href="~/css/table.css" />


<table id="myTable" class="display1" style="width:100%; text-align:center">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Device Type</th>
            <th>Device Name</th>
            <th>Stopwatch</th>
            <th>EndSession</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td>@item.FirstName </td>
                <td>@item.LastName</td>
                <td>@item.DeviceType</td>
                <td>@item.DeviceName</td>
                <td id="0" value="@item.CurrentPlaying.ToString()">@item.CurrentPlaying.Hours.ToString("D2"):@item.CurrentPlaying.Minutes.ToString("D2"):@item.CurrentPlaying.Seconds.ToString("D2")</td>
                <td>
                    <button class="btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="Test(this.id)" id="@item.Id+@item.CurrentPlaying">
                        End Session
                    </button>

                    <div class="modal fade @item.Id" id="@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 align="center" class="modal-title text-center" id="exampleModalLabel"></h5>
                                    <div id="@item.Id+timerId"></div>
                                    <button type="button" value="@item.Id" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <h3>USER: @item.FirstName @item.LastName</h3>
                                    <h4>
                                        Amount to be paid for @item.DeviceName:
                                        <span id="@item.Id+suma"></span>
                                    </h4>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" value="@item.Id" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-secondary" id="@item.Id+@item.CurrentPlaying"  onclick="EndSession(this.id)">End Session</button>
                                </div>
                            </div>
                        </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts{

    <script src="~/js/Table.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>

    <script>
        function Test(id) {
            let arr = id.split("+");
            let id1 = arr[0];
            let value = arr[1];
            ModalTest(id1);

            let suma = id1 + "+suma";
            let spanforsum = document.getElementById(suma);

            $.ajax({
                url: 'CalculateSum',
                type: 'GET',
                data: {
                    id: id1
                },
                success: function (response) {
                    spanforsum.innerHTML = response + " lv"
                }
            })
            //if (confirmation) {

        }
        function EndSession(id) {
            let arr = id.split("+");
            let id1 = arr[0];
            let value = arr[1];
            $.ajax({
                url: 'EndSession',
                type: 'GET',
                data:
                {
                    id: id1,
                    time: value
                },
                success: function () {
                    
                    $(`.${id1}`).modal('hide');
                    $('.modal-backdrop').hide();
                    $(`#${id1}`).remove();
                }
            })
        }
            
        function ModalTest(id) {
            $(`.${id}`).modal('show');
        }
        $(document).ready(() => {

            let count = document.getElementById("myTable").rows.length;

            for (let i = 1; i < count; i++) {
                let trTimer = $(`tr td:nth-child(5)`)[i - 1];
                let timer = $(`tr td:nth-child(5)`)[i - 1].innerText;
                StartTimer(timer, trTimer);
            }
        })

        function StartTimer(timer, trTimer) {
            let arr = timer.split(':');
            let hours = parseInt(arr[0], 10);
            let minutes = parseInt(arr[1], 10);
            let seconds = parseInt(arr[2], 10);
            let timercheto = setInterval(function () {

                seconds += 1;
                if (seconds === 60) {
                    seconds = 0;
                    minutes += 1;
                    if (minutes === 60) {
                        minutes = 0;
                        hours += 1;
                    }
                }



                hours = parseInt(hours, 10) // 0   //00
                minutes = parseInt(minutes, 10) // 25
                seconds = parseInt(seconds, 10) //59 /1

                seconds = seconds < 10 ? "0" + seconds : seconds;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                hours = hours < 10 ? "0" + hours : hours;




                trTimer.innerText = `${hours}:${minutes}:${seconds}`;

                hours = parseInt(hours, 10) // 0   //00
                minutes = parseInt(minutes, 10) // 25
                seconds = parseInt(seconds, 10) //59 /1

            }, 1000);
        }



    </script>
}



